<div class="card">
	<div class="card-block">
		<h4 class="card-title text-sz-xxl no-margin">Contact</h4>
		<div class="text-sz-xs text-muted">&lt;subtitle&gt;</div>
		<br />

		<div class="row">
			<div class="input-field col s6">
	          	<input id="last_name" type="text" class="validate">
	          	<label for="last_name">Last Name</label>
	        </div>		
        </div>
		<br />

		<pre>{{contact | json}}</pre>

	</div>
	<div class="card-footer">
		<h4>&lt;footer_content&gt;</h4>
	</div>
</div>
