body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #263238;
    background-color: #e4e5e6;
}

/* TEXT SIZES */
.text-sz-xxs {
	font-size: 10px;
}

.text-sz-xs {
	font-size: 11px;
}

.text-sz-s {
	font-size: 12px;
}

.text-sz-m {
	font-size: 14px;
}

.text-sz-l {
	font-size: 16px;
}

.text-sz-xl {
	font-size: 20px;
}

.text-sz-xxl {
	font-size: 24px;
}

/* TEXT COLORS */
.text-primary {
    color: #20a8d8 !important;
}

.text-info {
    color: #63c2de !important;
}

.text-success {
    color: #4dbd74 !important;
}

.text-danger {
    color: #f86c6b !important;
}

.text-warning {
    color: #f8cb00 !important;
}

.text-muted {
	color: #b0bec5 !important;
}

.btn, .btn:active, .btn:focus {
  color: rgb(255, 255, 255);
}

/* TEXT POSITIONING */
.text-center {
    text-align: center !important;
}

/* BACKGROUND COLORS */
.bg-primary {
    color: #fff !important;
    background-color: #20a8d8 !important;
}

.bg-info {
    color: #fff !important;
    background-color: #63c2de !important;
}

.bg-success {
    color: #fff !important;
    background-color: #4dbd74 !important;
}

.bg-danger {
    color: #fff !important;
    background-color: #f86c6b !important;
}

.bg-warning {
    color: #fff !important;
    background-color: #f8cb00 !important;
}

/* MARGINS AND PADDINGS */
.no-margin {
	margin: 0px;
}

/* CARDS */
.card {
    background-color: #fff;
    border: 1px solid #cfd8dc;
    margin: 20px;
}

.card .card-block {
	padding: 20px;
}

.card .card-footer {
    padding: 12px 20px;
    background-color: #eceff1;
    border-top: 1px solid #cfd8dc;
}

.card-title {
	color: rgb(38, 50, 56);
}

/* TABLES */
.table-outline {
    border: 1px solid #cfd8dc;
}

.table {
    width: 100%;
    max-width: 100%;
    /*margin-bottom: 1rem;*/
}

table {
    border-collapse: collapse;
    background-color: transparent;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #cfd8dc;
}

.thead-default th {
    color: #607d8b;
    background-color: #cfd8dc;
}

.table-outline td {
    vertical-align: middle;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #cfd8dc;
}

.table-hover tbody tr:hover {
    background-color: #eceff1;
}

