<div>

  <div class="card">
    <div class="card-block">

      <h2>Contacts</h2>

      <p>This is the contact list</p>

      <p *ngIf="!contacts" class="text-muted text-center">No contacts are loaded</p>

      <table class="table table-hover table-outline" *ngIf="contacts">
        <thead class="thead-default">
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>
              <div><a [routerLink]="['/contacts', contact.data.id]">{{contact.data.firstName}}</a></div>
              <div class="text-muted">{{contact.data.email}}</div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="card-footer">
      <h4>&lt;footer_content&gt;</h4>
    </div>
  </div>

</div>
