<nav class="navbar navbar-default navbar-white navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><span class="text-sz-l">E&T</span> <span class="text-primary">Service Platform</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <a>☰</a>
        </li>
        <li *ngFor="let option of options">
          <a [routerLink]="[option.route]">{{option.label}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <!-- <button class="btn btn-danger navbar-btn">Button</button> -->
      </ul>
    </div>
  </div>
</nav>

<div class="nav-bar-spacer"></div>