<nav class="navbar navbar-default navbar-white navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">
        <span class="text-sz-xl">E<span class="text-sz-m">&</span>T</span> <span class="text-primary">Service Desk</span>
      </a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/contacts']">Contacts</a>
        </li>

          <!--<li>-->
          <!--<a (click)="toggleSidebar()">☰</a>-->
        <!--</li>-->
        <!--<li *ngFor="let option of options">-->
          <!--<a [routerLink]="[option.route]">{{option.label}}</a>-->
        <!--</li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <!-- <button class="btn btn-danger navbar-btn">Button</button> -->
      </ul>
    </div>

  </div>
</nav>

<div class="navbar-vertical-spacer"></div>

<!--<div class="nav-bar-spacer"></div>-->
